
_Logic/.DS_Store
_Logic/JDBC/src/.DS_Store
_Logic/JDBC/src/main/.DS_Store
_Logic/JDBC/.DS_Store
_Logic/.DS_Store
_Database/.DS_Store
_Logic/JDBC/.idea/vcs.xml
.DS_Store
_Logic/JDBC/.idea/vcs.xml
_Logic/JDBC/.idea/workspace.xml
_Presentation/.DS_Store
_Presentation/CourtBooking/.DS_Store
_Presentation/CourtBooking/.gradle/5.6.4/executionHistory/executionHistory.bin
_Presentation/CourtBooking/.gradle/5.6.4/executionHistory/executionHistory.lock
_Presentation/CourtBooking/.gradle/5.6.4/fileHashes/fileHashes.bin
_Presentation/CourtBooking/.gradle/5.6.4/fileHashes/fileHashes.lock
_Presentation/CourtBooking/.gradle/5.6.4/fileHashes/resourceHashesCache.bin
_Presentation/CourtBooking/.gradle/5.6.4/javaCompile/classAnalysis.bin
_Presentation/CourtBooking/.gradle/5.6.4/javaCompile/jarAnalysis.bin
_Presentation/CourtBooking/.gradle/5.6.4/javaCompile/javaCompile.lock
_Presentation/CourtBooking/.gradle/buildOutputCleanup/buildOutputCleanup.lock
_Presentation/CourtBooking/.idea/workspace.xml
_Presentation/CourtBooking/app/.DS_Store
_Presentation/CourtBooking/app/app.iml
_Presentation/CourtBooking/app/build/intermediates/blame/res/debug/multi-v2/debug.json
_Presentation/CourtBooking/app/build/intermediates/blame/res/debug/multi-v2/values.json
_Presentation/CourtBooking/app/build/intermediates/dex/debug/mergeProjectDexDebug/out/classes.dex
_Presentation/CourtBooking/app/build/intermediates/incremental/debug-mergeJavaRes/merge-state
_Presentation/CourtBooking/app/build/intermediates/incremental/mergeDebugResources/compile-file-map.properties
_Presentation/CourtBooking/app/build/intermediates/incremental/packageDebug/tmp/debug/dex-renamer-state.txt
_Presentation/CourtBooking/app/build/intermediates/merged_java_res/debug/out.jar
_Presentation/CourtBooking/app/build/intermediates/res/merged/debug/values_values.arsc.flat
_Presentation/CourtBooking/app/build/kotlin/compileDebugKotlin/build-history.bin
_Presentation/CourtBooking/app/build/kotlin/compileDebugKotlin/caches-jvm/inputs/source-to-output.tab
_Presentation/CourtBooking/app/build/kotlin/compileDebugKotlin/caches-jvm/inputs/source-to-output.tab.values.at
_Presentation/CourtBooking/app/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab
_Presentation/CourtBooking/app/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab.values.at
_Presentation/CourtBooking/app/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/internal-name-to-source.tab
_Presentation/CourtBooking/app/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/internal-name-to-source.tab.values.at
_Presentation/CourtBooking/app/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/proto.tab
_Presentation/CourtBooking/app/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/proto.tab.values.at
_Presentation/CourtBooking/app/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/source-to-classes.tab
_Presentation/CourtBooking/app/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/source-to-classes.tab.values.at
_Presentation/CourtBooking/app/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/subtypes.tab
_Presentation/CourtBooking/app/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/subtypes.tab.values.at
_Presentation/CourtBooking/app/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/supertypes.tab
_Presentation/CourtBooking/app/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/supertypes.tab.values.at
_Presentation/CourtBooking/app/build/kotlin/compileDebugKotlin/caches-jvm/lookups/counters.tab
_Presentation/CourtBooking/app/build/kotlin/compileDebugKotlin/caches-jvm/lookups/file-to-id.tab
_Presentation/CourtBooking/app/build/kotlin/compileDebugKotlin/caches-jvm/lookups/file-to-id.tab.values.at
_Presentation/CourtBooking/app/build/kotlin/compileDebugKotlin/caches-jvm/lookups/id-to-file.tab
_Presentation/CourtBooking/app/build/kotlin/compileDebugKotlin/caches-jvm/lookups/id-to-file.tab.keystream
_Presentation/CourtBooking/app/build/kotlin/compileDebugKotlin/caches-jvm/lookups/id-to-file.tab.keystream.len
_Presentation/CourtBooking/app/build/kotlin/compileDebugKotlin/caches-jvm/lookups/id-to-file.tab.len
_Presentation/CourtBooking/app/build/kotlin/compileDebugKotlin/caches-jvm/lookups/id-to-file.tab.values.at
_Presentation/CourtBooking/app/build/kotlin/compileDebugKotlin/caches-jvm/lookups/id-to-file.tab_i
_Presentation/CourtBooking/app/build/kotlin/compileDebugKotlin/caches-jvm/lookups/lookups.tab
_Presentation/CourtBooking/app/build/kotlin/compileDebugKotlin/caches-jvm/lookups/lookups.tab.keystream
_Presentation/CourtBooking/app/build/kotlin/compileDebugKotlin/caches-jvm/lookups/lookups.tab.keystream.len
_Presentation/CourtBooking/app/build/kotlin/compileDebugKotlin/caches-jvm/lookups/lookups.tab.len
_Presentation/CourtBooking/app/build/kotlin/compileDebugKotlin/caches-jvm/lookups/lookups.tab.values.at
_Presentation/CourtBooking/app/build/kotlin/compileDebugKotlin/caches-jvm/lookups/lookups.tab_i
_Presentation/CourtBooking/app/build/kotlin/compileDebugKotlin/last-build.bin
_Presentation/CourtBooking/app/build/outputs/apk/debug/app-debug.apk
_Presentation/CourtBooking/app/src/.DS_Store
_Presentation/CourtBooking/app/src/main/.DS_Store
_Presentation/CourtBooking/app/src/main/java/.DS_Store
_Presentation/CourtBooking/app/src/main/java/com/.DS_Store
_Presentation/CourtBooking/app/src/main/java/com/example/.DS_Store
_Presentation/CourtBooking/app/src/main/java/com/example/courtbooking/.DS_Store
*.json
*.iml
*.lock
*.bin
*.xml
_Logic/JDBC/.idea/workspace.xml
